h1{
    text-align: center;
}

h2{
    text-align: center;
}

.table{
    text-align: center;
    
}

.izz{
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    padding: 5px;  
}

.carousel {
     width:640px; height:360px;
     margin: auto;
    
    
    
    }